*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right,
      rgba(255, 141, 141, 0.173), rgb(131, 131, 131), rgba(255, 255, 0, 0.114), rgba(217, 161, 151, 0.709) 99%);
  color: rgb(27, 18, 18);
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
  overflow: hidden;
}

h1 {
    font-size: 4vw;
    position: fixed;
    top: 40px;
    padding-left: 5px;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    font-family: 'Kenia', cursive;
    letter-spacing: 4px;
}

h1 a, h2 a {
  color: rgb(27, 18, 18); 
  text-decoration: none;
  font-family: 'Kenia', cursive;
}

.stickyNav {
  position: -webkit-sticky;
  align-self: flex-start;
  align-content: center;
  top: 0;

}

div.homepageImg {
  max-width: 400px;
}

h2 {
  text-align: center;
  font-family: 'Special Elite', sans-serif;
}

p {
  font-weight: 700;
  margin: 0 0 13px 0;
}

p.title {
    padding-top: 0;
}

a {
  color: #fff;
}

.center { text-align: center; }

article {
  scroll-snap-type: y mandatory;
}

.container {
  position: fixed;
  width: 83%;
  max-height: 85vh;
  right: 5px;
  margin: 0 auto;
  padding-top: 0;
  overflow: scroll;
}

.episode {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;

}

.episode__number {
  font-size: 2.7vw;
  font-weight: 600;
  padding: 0px 15px 0 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
}

.episode__content {
  border-top: 2px solid #fff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.episode__content .title {
  font-weight: 600
}

.episode__content .story {
  line-height: 26px;
}

@media (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
  .container {
    width: 75%;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
  .container {
    width: 77%;
  }
}